@import 'template.css';
@import 'register&login.css';
@import 'home.css';
@import 'itemdetail.css';

body{
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.alert{
    padding: 20px;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 15px;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}

.paginate{
    position: fixed;
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 40px;
    left: 46.5%;
    align-items: center;
}

.inside-paginate a{
    margin: 0 5px 0 5px;
}

